*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
input,button,textarea{
    outline: none;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.p-fixed{
    position: fixed;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.p-sticky{
    position: sticky;
    top: 0;
}

.w-20{
    width: 20%!important;
}
.w-25{
    width: 25%;
}
.w-30{
    width: 30%;
}
.w-50{
    width: 50%;
}
.w-75{
    width: 75%;
}
.h40{
    height: 40vh;
}
.w-100{
    width: 100%!important;
}
.inlineblock > li{
    display: inline-block;
}
.menu > li{
    margin-left: 10px; 
}
.p-05{
    padding: 0.5rem;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.p-4{
    padding: 4rem;
}
.p-5{
    padding: 5rem 0 0.5rem 0;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}
.mt-5{
    margin-top: 5rem;
}





.bg-light{
    background-color: white;
}
.bg-dark{
    background-color: transparent;
}
.bg-darker{
    background-color: black;
}
.text-light{
    color: #F7F7F7;
}
.gold{
    color: gold;
}
.black{
    color: black;
}
.red{
    color: red;
}
.fbred{
    color: rgb(210, 22, 22);
    display: inline-block;
}
.fred{
    color: rgb(210, 22, 22);
}
.submenu{
    position: relative;
}
.submenu > ul{
    position: absolute;
    width: 100px;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
    background-color: #F7F7F7;
}
.submenu:hover >ul{
    display: block;
    width: 150px;
    height: 280px;
}
.sub-style{
    list-style: none;
    padding: 5px;
}
.navbar{
    top: 0;
    text-transform: uppercase;
    font-weight: 900;
    z-index: 9;
}
.bold{
    font-weight: 600;
}
.bolder{
    font-weight: 900;
}
.flex-column{
    flex-direction: column;
}
.center{
    text-align: center;
    margin: auto;
}
.space-arround{
    justify-content: space-around!important;
}
.padding{
    height: 50vh;
}